@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header styles */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;
    border-color: black;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 2px;
}

.li_header, a, button {
    font-family: "Roboto", sans-serif;
    font-weight: 16px;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.logo {
    cursor: pointer;
    margin-left: 5px;
    width: 90px;
    height: 90px;
}

.nav_links .li_header {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links .li_header .a {
    transition: all 0.3s ease 0s;
}

.nav_links .li_header a:hover {
    color: #c7ba05;
}

button {
    padding: 8px 15px;
    margin-right: 15px;
    background-color: #F0F0B9;
    border-color: black;
    border-style: solid;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #e8e861;
}

@media (max-width: 700px){
    header{
            /* Reverse the axis of the header, making it vertical. */ 
            flex-direction: row;
            /* Align items to the begining (the left) of the header. */
            align-items: flex-start;
    }
}

/* Slider styles*/

.slider {
    width: 75%;
	margin: auto;
    overflow: hidden;
}

.slider .ul_slider {
	display: flex;
	padding: 0;
	width: 300%;
	animation: cambio 30s infinite alternate linear;
}

.slider .li_slider {
	width: 100%;
	list-style: none;
}

.slider .img_slider {
	width: 100%;
}

.img_slider {
    border-radius: 50px;
    border-color: gold;
    border-style: solid;
}

@keyframes cambio {
	0% {margin-left: 0;}
	30% {margin-left: 0;}
	
	35% {margin-left: -100%;}
	55% {margin-left: -100%;}
	
	60% {margin-left: -200%;}
	100% {margin-left: -200%;}
}

/*Pagina panaderia*/

.banner_bread {
    display: flex;
    align-self: center;
    border-radius: 50px;
}

.img_ad_banner {
    border-radius: 30px;
    border-color: gold;
    border-style: solid;
}

.img_ad_banner:hover {
    border-color: goldenrod;
}

.imagenes_panes {
    display: flex;
    flex-direction:row;
	flex-wrap:wrap;
    justify-content: center;    
}

.img_panaderia {
border-radius: 50px;
border-color: gold;
border-style: solid;
max-width: 400px;
max-height: 400px;

}

.imagen_1 {
position: 1;
align-items: center;
margin-top: 20px;
margin-left: 7%;
margin-right: 5%;
}

.imagen_2 {
position: 2;
align-items: center;
margin-top: 20px;
margin-left: 5%;
margin-right: 7%;
}
    
.texto_productos_panaderia {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

@media (max-width: 740px){
    .img_ad_banner {
        max-width: 100vh;
       
    }
}

@media (max-width: 584px){
    .img_ad_banner {
        max-width: 80vh;
        
    }
}

@media (max-width: 430px){
    body {
        resize: none;
    }
    
}

/*Pagina pasteleria*/

.banner_pastry {
    display: flex;
    align-self: center;
    border-radius: 50px;
}

.img_ad_banner_pastry {
    border-radius: 30px;
    border-color: gold;
    border-style: solid;
}

.img_ad_banner_pastry:hover {
    border-color: goldenrod;
}

.imagenes_pasteles {
    display: flex;
    flex-direction:row;
	flex-wrap:wrap;
    justify-content: center;    
}

.img_pasteleria {
border-radius: 50px;
border-color: gold;
border-style: solid;
max-width: 400px;
max-height: 400px;

}

.imagen_1_pasteles {
position: 1;
align-items: center;
margin-top: 20px;
margin-left: 7%;
margin-right: 5%;
}

.imagen_2_pasteles {
position: 2;
align-items: center;
margin-top: 20px;
margin-left: 5%;
margin-right: 7%;
}
    
.texto_productos_pasteleria {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

@media (max-width: 740px){
    .img_ad_banner_pastry {
        max-width: 100vh;
       
    }
}

@media (max-width: 584px){
    .img_ad_banner_pastry {
        max-width: 80vh;
        
    }
}

@media (max-width: 430px){
    body {
        resize: none;
    }
    
}


/* Contact Webpage Styles */

#leafletMap {
    width: 300px;
    height: 300px;
    margin-top: 40px;
}

.icono_contacto {
    width: 1.5em;
    height: 1em;
    align-items: flex-start;
}


.flex-container-contact {
    display: flex;
    width: 80%;
    min-height: 300px;
    margin: 0 auto;
}

.flex-container-contact .column {
    flex: 1;
    padding: 10px;
}

.ul_contact {
    margin-top: 40px;
    text-align: justify;
}

.li_contact {  
    font-weight: 16px;
    font-size: 16px;
    color: black;
    text-decoration: none;
    list-style:none;  
}


/*Login*/

.form {
    display: inline-block;
    text-align: center;
    margin-top: 50px;
    border: 0px solid green;
    background-color: #e7d9b28f;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    
}

.tab-content {
  display: flex;
  flex-direction: column;
  padding: 5%;
  border: 0px solid rgb(128, 0, 0);
  margin: auto;
  height: 400px;

}

.field-wrap{
    padding: 5px;
    word-wrap: break-word;
    justify-content: center;
}

#login {
    margin-top: 50px;
}

#signup button {
    margin-top: 20px;
}

#login button {
    margin-top: 20px;
}

.titulo_login {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width: 740px){
    .form {
        max-width: 100vh;
       
    }
}

@media (max-width: 584px){
    .form {
        max-width: 80vh;
        
    }
}

@media (max-width: 430px){
    body {
        resize: none;
    }
    
}


/* Producto Page Styles*/

.producto {
    border-radius: 30px;
    border-style: solid;
    border-color: gold;
    margin: 10px 10px 40px 10px;
    display: flex;
    justify-content: cen;
    align-items: center;
}

.productos_relacionados {
    border-radius: 30px;
    border-style: solid;
    border-color: gold;
    margin: 10px 30px 40px 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.img_rel_producto {
    max-width: 100px;
    max-height: 100px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: solid;
   border-color: goldenrod;
}

.img_producto {
    max-width: 300px;
    max-height: 300px;
    margin: 10px 10px 10px 25px;
    border-style: outset;
    border-color: gold;
}

.btn_comprar {
    border-style: groove;
    border-radius: unset;
    margin-top: 20px;
}

.p_producto {
    margin: 10px 0px 10px 20px ;
}

.div_precio {
    margin-right: 40px;
    margin-left: 20px;
}

.h2_producto {
    margin-left: 10px;
}

/* Cookies / Privacy /... Page Syles */

.texto_politica {
padding-left: 5%;
padding-right: 5%;
}

.p_politica  {
    text-align: justify;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.lista {
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 40px;
}

/* Footer styles */

footer {
    width: 100%;
    background: #111;
    margin-top: 1.5rem;
    /* Sticky footer */
    flex-shrink: 0;
    color: white;
}

.footer_links {
    padding: 1.25rem;
    text-align: center;
}

.footer_links .li_footer {
    list-style-type: none;
    display: inline-block;
    margin: 0.25rem 0.75rem;
}

.footer_links .a_footer {
    color: #fff;
    text-decoration: none;
}

.footer_links .a_footer:hover {
    text-decoration: underline;
}